.Invoice-main {
  width: 100vw;
  color: white;
  overflow-x: hidden;
}
.section_1 {
  width: 100vw;
  height: 375vh;
  background-color: rgb(28, 28, 28);
}
.section_1-header {
  width: 100vw;
  height: 80vh;
}
.section_1-header-image {
  width: 100vw;
  height: 80vh;
}
.section_1-main {
  background-color: rgb(79, 175, 11);
  width: 80vw;
  height: 65vh;
}
.section_1-main-uppertext {
  margin-left: 7vw;
  padding-top: 5vh;
  font-size: 1.2rem;
  font-weight: 600;
}
.section_1-main-divider {
  height: 0.5vh;
  width: 20vw;
  background-color: white;
  margin-left: 7vw;
  margin-top: 2vh;
}
.section_1-main-lowertext {
  margin-left: 7vw;
  margin-top: 2vh;
  font-size: 1.2rem;
  font-weight: 600;
}
.section_1-main-lowertext-input {
  margin-left: 2vw;
  width: 10vw;
  height: 4vh;
  border-radius: 8px;
}
.section_1-main-lowertext-input-2 {
  margin-top: 5vh;
  width: 14vw;
  height: 4vh;
  border-radius: 8px;
}
.section_1-footer {
  width: 100vw;
  height: 160vh;
}
.section_1-footer-image {
  width: 100vw;
  height: 160vh;
}
.section_2 {
  margin-top: 0vh;
  background-color: rgb(28, 28, 28);
  width: 100vw;
  height: 375vh;
}
.section_2-header {
  margin-top: 0vh;
  padding-top: 6vh;
  display: flex;
  flex-direction: row;
}
.header-left-line {
  width: 33vw;
  height: 1vh;
  background-color: rgb(79, 175, 11);
  margin-top: 2vh;
}
.header-right-line {
  width: 32vw;
  height: 1vh;
  background-color: rgb(79, 175, 11);
  position: absolute;
  left: 68vw;
  margin-top: 2vh;
}
.section_2-header-text {
  text-align: center;
  margin-top: 1.5vh;
  padding-left: 6vw;
  margin-right: 10vw;
  font-size: 1rem;
  font-weight: 400;
}
.section_2-main-text {
  margin-left: 7vw;
  margin-top: 8vh;
  font-size: 1.2rem;
  font-weight: 600;
}
.section_2-box-header {
  margin-left: 7vw;
  margin-top: 8vh;
  font-size: 1rem;
  font-weight: 400;
}
.section_2-box {
  margin-left: 9vw;
  margin-top: 3vh;
  width: 35vw;
  height: 60vh;
  background-color: rgb(79, 175, 11);
}
.section_2-box-1 {
  display: flex;
}
.section_2-box-top-text {
  margin-left: 3vw;
  padding-top: 3vh;
  font-size: 1rem;
  font-weight: 600;
}
.section_2-box-1-input {
  margin-top: 3vh;
  margin-left: 3vw;
  width: 14vw;
  height: 4vh;
  border-radius: 10px;
}
.section_2-box-1-text {
  margin-top: 3vh;
  margin-left: 1vw;
  font-size: 1.4rem;
  font-weight: 500;
}
.upload-image-div {
  width: 35vw;
  display: flex;
  position: absolute;
  left: 55vw;
  top: 490vh;
}
.section_3 {
  background-color: rgb(28, 28, 28);
  width: 100vw;
  height: 375vh;
}
.section_3-header {
  display: flex;
  flex-direction: row;
}
.section_3-text-1 {
  margin-left: 7vw;
  margin-top: 4vh;
  font-size: 1rem;
  font-weight: 700;
}
.section_3-select-div {
  margin-left: 7vw;
  margin-top: 3vh;
  display: flex;
}
.section_3-image-div {
  margin-top: 6vh;
  margin-left: 20vw;
  padding-bottom: 2vh;
}
.section_3-image {
  width: 60vw;
  height: 40vw;
}
.section_4 {
  background-color: rgb(28, 28, 28);
  width: 100vw;
  height: 375vh;
}
.section_4-header-div {
  display: flex;
  margin-top: 7vh;
}
.section_4-header-bar {
  width: 5vw;
  height: 4vh;
  background-color: rgb(79, 175, 11);
}
.section_4-header-text {
  font-size: 1.4rem;
  font-weight: 800;
}
.section_4-main-div {
  width: 100vw;
  height: 16vh;
  margin-top: 5vh;
  background-color: rgb(79, 175, 11);
  display: flex;
}
.section_4-main-div-1 {
  width: 70vw;
  height: 15vh;
  background-color: rgb(28, 28, 28);
  margin-top: 1vh;
}
.section_4-main-div2 {
  width: 100vw;
  height: 17vh;
  margin-top: 0vh;
  background-color: rgb(79, 175, 11);
  display: flex;
}
.section_4-main-div-2 {
  width: 70vw;
  height: 16vh;
  background-color: rgb(28, 28, 28);
  margin-top: 1vh;
}
.section_4-main-div3 {
  width: 100vw;
  height: 21vh;
  margin-top: 0vh;
  background-color: rgb(79, 175, 11);
  display: flex;
}
.section_4-main-div-3 {
  width: 70vw;
  height: 20vh;
  background-color: rgb(28, 28, 28);
  margin-top: 1vh;
}
.section_4-main-div4 {
  width: 100vw;
  height: 21vh;
  margin-top: 0vh;
  background-color: rgb(79, 175, 11);
  display: flex;
}
.section_4-main-div-4 {
  width: 70vw;
  height: 20vh;
  background-color: rgb(28, 28, 28);
  margin-top: 1vh;
}
.section_4-main-div5 {
  width: 100vw;
  height: 22vh;
  margin-top: 0vh;
  background-color: rgb(79, 175, 11);
  display: flex;
}
.section_4-main-div-5 {
  width: 70vw;
  height: 20vh;
  background-color: rgb(28, 28, 28);
  margin-top: 1vh;
}
.section_4-text {
  margin-top: 2vh;
  margin-left: 1vw;
}
.section_4-main-input {
  margin-left: 4vw;
  margin-top: 5vh;
  width: 12vw;
  height: 4vh;
  border-radius: 10px;
}
.section_4-main-input-text {
  margin-top: 5vh;
}
.section_4-footer-text {
  padding: 5%;
}
.section_4-footer {
  display: flex;
  margin-left: 20vw;
  padding-bottom: 3vh;
}
.section_4-footer-bar {
  width: 1vw;
  height: 13vh;
  background-color: rgb(79, 175, 11);
}
.section_4-footer-horizontal-bar {
  width: 50vw;
  height: 13vh;
  margin-left: 10vw;
  background-color: rgb(79, 175, 11);
  flex-direction: column;
  display: flex;
}
.section_4-footer-bar-text {
  margin-left: 2vw;
}
.section_4-footer-bar-text-1 {
  margin-top: 1vh;
}
.section_4-footer-horizontal-bar-input {
  margin-top: 1vh;
  width: 12vw;
  border-radius: 7px;
  margin-left: 2vw;
}
.section_5 {
  background-color: rgb(28, 28, 28);
  width: 100vw;
  height: 375vh;
}
.section_5-input {
  border-radius: 8px;
  width: 20vw;
  height: 5vh;
  padding: 1%;
}
.download-button {
  text-align: center;
  margin-left: 46vw;
  width: 8vw;
  height: 5vh;
  border-radius: 8px;
  background-color: rgb(79, 175, 11);
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}
.button-div {
  width: 100vw;
  background-color: rgb(28, 28, 28);
}

@media screen and (max-width: 2565px) {
  /* 1st screen */
  .section_1{
    height: 160vh;
  }
  .section_1-header {
    width: 100vw;
    height: 45vh;
  }
  .section_1-header-image {
    width: 100vw;
    height: 45vh;
  }
  .section_1-main {
    background-color: rgb(79, 175, 11);
    width: 80vw;
    height: 35vh;
  }
  .section_1-footer {
    width: 100vw;
    height: 80vh;
  }
  .section_1-footer-image {
    width: 100vw;
    height: 80vh;
  }

  /* 2nd Screen */
  .section_2 {
    margin-top: 0vh;
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 160vh;
  }
  .section_2-main-text {
    margin-left: 7vw;
    margin-top: 20vh;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .section_2-box-header {
    margin-left: 7vw;
    margin-top: 10vh;
    font-size: 1rem;
    font-weight: 400;
  }
  .section_2-box {
    margin-left: 9vw;
    margin-top: 6vh;
    width: 35vw;
    height: 70vh;
    background-color: rgb(79, 175, 11);
  }
  .section_2-box-top-text {
    margin-left: 3vw;
    padding-top: 4vh;
    font-size: 1rem;
    font-weight: 600;
  }
  .section_2-box-1-input {
    margin-top: 6vh;
    margin-left: 3vw;
    width: 14vw;
    height: 4vh;
    border-radius: 10px;
  }
  .section_2-box-1-text {
    margin-top: 6vh;
    margin-left: 1vw;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .upload-image-div {
    width: 35vw;
    display: flex;
    position: absolute;
    left: 55vw;
    top: 240vh;
  }

  /* 3rd screen */
  .section_3 {
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 160vh;
  }
  .section_3-text-1 {
    margin-left: 7vw;
    margin-top: 10vh;
    font-size: 1rem;
    font-weight: 700;
  }
  .section_3-text-2 {
    margin-left: 7vw;
    margin-top: 5vh;
    font-size: 1rem;
    font-weight: 700;
  }
  .section_3-select-div {
    margin-left: 7vw;
    margin-top: 3vh;
    display: flex;
  }
  .section_3-image-div {
    margin-top: 5vh;
    margin-left: 15vw;
    padding-bottom: 2vh;
  }
  .section_3-image {
    width: 70vw;
    height: 60vw;
  }

  /* 4th screen */

  .section_4 {
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 160vh;
  }
  .section_4-header-div {
    display: flex;
    margin-top: 10vh;
  }
  .section_4-main-div {
    width: 100vw;
    height: 12vh;
    margin-top: 5vh;
    background-color: rgb(79, 175, 11);
    display: flex;
  }
  .section_4-footer-text {
    padding: 6%;
    margin-top: 5vh;
  }
  .section_4-footer {
    display: flex;
    margin-left: 20vw;
    margin-top: 5vh;
  }
  .section_4-main-div-1 {
    width: 70vw;
    height: 11vh;
    background-color: rgb(28, 28, 28);
    margin-top: 1vh;
  }
  .section_4-main-div2 {
    width: 100vw;
    height: 12vh;
    margin-top: 0vh;
    background-color: rgb(79, 175, 11);
    display: flex;
  }
  .section_4-main-div-2 {
    width: 70vw;
    height: 11vh;
    background-color: rgb(28, 28, 28);
    margin-top: 1vh;
  }
  .section_4-main-div3 {
    width: 100vw;
    height: 14vh;
    margin-top: 0vh;
    background-color: rgb(79, 175, 11);
    display: flex;
  }
  .section_4-main-div-3 {
    width: 70vw;
    height: 13vh;
    background-color: rgb(28, 28, 28);
    margin-top: 1vh;
  }
  .section_4-main-div4 {
    width: 100vw;
    height: 16vh;
    margin-top: 0vh;
    background-color: rgb(79, 175, 11);
    display: flex;
  }
  .section_4-main-div-4 {
    width: 70vw;
    height: 15vh;
    background-color: rgb(28, 28, 28);
    margin-top: 1vh;
  }
  .section_4-main-div5 {
    width: 100vw;
    height: 16vh;
    margin-top: 0vh;
    background-color: rgb(79, 175, 11);
    display: flex;
  }
  .section_4-main-div-5 {
    width: 70vw;
    height: 14vh;
    background-color: rgb(28, 28, 28);
    margin-top: 1vh;
  }

  /* 5th screen */
  .section_5 {
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 160vh;
  }
  .section_5-input {
    border-radius: 8px;
    width: 20vw;
    height: 5vh;
    padding: 1%;
  }
  .section_5-image{
    width: 100%;
    height: 120vh;
  }
  .solarpanelImage{
    width: 100%;
    height: 120vh;
  }
}

@media screen and (max-width: 1450px) {
  /* 1st screen */
  .section_1 {
    height: 240vh;
    background-color: rgb(28, 28, 28);
  }
  .section_1-header {
    width: 100vw;
    height: 50vh;
  }
  .section_1-header-image {
    width: 100vw;
    height: 50vh;
  }
  .section_1-main {
    background-color: rgb(79, 175, 11);
    width: 80vw;
    height: 40vh;
  }
  .section_1-footer {
    width: 100vw;
    height: 110vh;
  }
  .section_1-footer-image {
    width: 100vw;
    height: 110vh;
  }
  /* 2nd screen */
  .section_2 {
    margin-top: 0vh;
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 240vh;
  }
  .section_2-main-text {
    margin-left: 7vw;
    margin-top: 25vh;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .section_2-box-header {
    margin-left: 7vw;
    margin-top: 15vh;
    font-size: 1rem;
    font-weight: 400;
  }
  .section_2-box {
    margin-left: 9vw;
    margin-top: 10vh;
    width: 35vw;
    height: 90vh;
    background-color: rgb(79, 175, 11);
  }
  .section_2-box-top-text {
    margin-left: 3vw;
    padding-top: 7vh;
    font-size: 1rem;
    font-weight: 600;
  }
  .section_2-box-1-input {
    margin-top: 6vh;
    margin-left: 3vw;
    width: 14vw;
    height: 4vh;
    border-radius: 10px;
  }
  .section_2-box-1-text {
    margin-top: 6vh;
    margin-left: 1vw;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .upload-image-div {
    width: 35vw;
    display: flex;
    position: absolute;
    left: 55vw;
    top: 340vh;
  }
  /* 3rd screen */
  .section_3 {
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 240vh;
  }
  .section_3-text-1 {
    margin-left: 7vw;
    margin-top: 20vh;
    font-size: 1rem;
    font-weight: 700;
  }
  .section_3-text-2 {
    margin-left: 7vw;
    margin-top: 10vh;
    font-size: 1rem;
    font-weight: 700;
  }
  .section_3-select-div {
    margin-left: 7vw;
    margin-top: 3vh;
    display: flex;
  }
  .section_3-image-div {
    margin-top: 20vh;
    margin-left: 15vw;
    padding-bottom: 2vh;
  }
  .section_3-image {
    width: 70vw;
    height: 70vw;
  }
  /* 4th screen */
  .section_4 {
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 240vh;
  }
  .section_4-header-div {
    display: flex;
    margin-top: 20vh;
  }
  .section_4-main-div {
    width: 100vw;
    height: 16vh;
    margin-top: 15vh;
    background-color: rgb(79, 175, 11);
    display: flex;
  }
  .section_4-footer-text {
    padding: 6%;
    margin-top: 10vh;
  }
  .section_4-footer {
    display: flex;
    margin-left: 20vw;
    margin-top: 10vh;
  }
  /* 5th screen */
  .section_5 {
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 240vh;
  }
  .section_5-input {
    border-radius: 8px;
    width: 20vw;
    height: 5vh;
    padding: 1%;
  }
  .section_5-image{
    width: 100%;
    height: 180vh;
  }
  .solarpanelImage{
    width: 100%;
    height: 130vh;
  }
}

/* mobile css */
@media screen and (max-width: 435px) {
  /* 1st section */
  .section_1 {
    height: 95vh;
    background-color: rgb(28, 28, 28);
  }
  .section_1-header {
    width: 100vw;
    height: 25vh;
  }
  .section_1-header-image {
    width: 100vw;
    height: 25vh;
  }
  .section_1-main {
    background-color: rgb(79, 175, 11);
    width: 80vw;
    height: 25vh;
  }
  .section_1-footer {
    width: 100vw;
    height: 35vh;
  }
  .section_1-footer-image {
    width: 100vw;
    height: 35vh;
  }
  .section_1-main-uppertext {
    margin-left: 7vw;
    padding-top: 3vh;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .section_1-main-divider {
    height: 0.5vh;
    width: 40vw;
    background-color: white;
    margin-left: 7vw;
    margin-top: 2vh;
  }
  .section_1-main-lowertext {
    margin-left: 7vw;
    margin-top: 2vh;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .section_1-main-lowertext-input {
    margin-left: 2vw;
    width: 25vw;
    height: 3vh;
    border-radius: 8px;
  }
  .section_1-main-lowertext-input-2 {
    margin-top: 3vh;
    width: 34vw;
    height: 3vh;
    border-radius: 8px;
  }

  /* 2nd section */
  .section_2 {
    margin-top: 0vh;
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 95vh;
  }
  .section_2-header {
    margin-top: 0vh;
    display: flex;
    flex-direction: row;
  }
  .section_2-header-text {
    text-align: center;
    margin-top: 1.5vh;
    font-size: 0.6rem;
    font-weight: 400;
    margin-right: 15vh;
  }
  .section_2-main-text {
    margin-left: 7vw;
    margin-top: 3vh;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .section_2-box-header {
    margin-left: 7vw;
    margin-top: 3vh;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .section_2-box {
    margin-left: 15vw;
    margin-top: 3vh;
    width: 70vw;
    height: 45vh;
    background-color: rgb(79, 175, 11);
  }
  .section_2-box-top-text {
    margin-left: 3vw;
    padding-top: 1vh;
    font-size: 1rem;
    font-weight: 600;
  }
  .section_2-box-1-input {
    margin-top: 2vh;
    margin-left: 3vw;
    width: 24vw;
    height: 4vh;
    border-radius: 10px;
  }
  .section_2-box-1-text {
    margin-top: 2.5vh;
    margin-left: 1vw;
    font-size: 1rem;
    font-weight: 500;
  }
  .upload-image-div {
    width: 80vw;
    display: flex;
    position: absolute;
    left: 10vw;
    top: 170vh;
  }
  /* 3rd section */
  .section_3 {
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 140vh;
  }
  .section_3-text-1 {
    margin-left: 7vw;
    margin-top: 5vh;
    font-size: 1rem;
    font-weight: 700;
  }
  .section_3-text-2 {
    margin-left: 7vw;
    margin-top: 4vh;
    font-size: 1rem;
    font-weight: 700;
  }
  .section_3-select-div {
    margin-left: 7vw;
    margin-top: 4vh;
    display: flex;
  }
  .onchange-filter {
    width: 18vw;
    height: 3vh;
  }
  .section_3-image-div {
    margin-top: 8vh;
    margin-left: 10vw;
    padding-bottom: 2vh;
  }
  .section_3-image {
    width: 80vw;
    height: 100vw;
  }
  /* 4th section */
  .section_4 {
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 140vh;
  }
  .section_4-header-div {
    display: flex;
    margin-top: 3vh;
  }
  .section_4-header-bar {
    width: 7vw;
    height: 3vh;
    background-color: rgb(79, 175, 11);
  }
  .section_4-header-text {
    font-size: 1rem;
    font-weight: 800;
  }
  .section_4-main-div {
    width: 100vw;
    height: 12vh;
    margin-top: 3vh;
    background-color: rgb(79, 175, 11);
    display: flex;
  }
  .section_4-main-div-1 {
    width: 70vw;
    height: 11vh;
    background-color: rgb(28, 28, 28);
    margin-top: 1vh;
  }
  .section_4-main-div2 {
    width: 100vw;
    height: 14vh;
    margin-top: 0vh;
    background-color: rgb(79, 175, 11);
    display: flex;
  }
  .section_4-main-div-2 {
    width: 70vw;
    height: 13vh;
    background-color: rgb(28, 28, 28);
    margin-top: 1vh;
  }
  .section_4-main-div3 {
    width: 100vw;
    height: 18vh;
    margin-top: 0vh;
    background-color: rgb(79, 175, 11);
    display: flex;
  }
  .section_4-main-div-3 {
    width: 70vw;
    height: 17vh;
    background-color: rgb(28, 28, 28);
    margin-top: 1vh;
  }
  .section_4-main-div4 {
    width: 100vw;
    height: 18vh;
    margin-top: 0vh;
    background-color: rgb(79, 175, 11);
    display: flex;
  }
  .section_4-main-div-4 {
    width: 70vw;
    height: 17vh;
    background-color: rgb(28, 28, 28);
    margin-top: 1vh;
  }
  .section_4-main-div5 {
    width: 100vw;
    height: 16vh;
    margin-top: 0vh;
    background-color: rgb(79, 175, 11);
    display: flex;
  }
  .section_4-main-div-5 {
    width: 70vw;
    height: 14vh;
    background-color: rgb(28, 28, 28);
    margin-top: 1vh;
  }
  .section_4-text {
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 0.6rem;
  }
  .section_4-main-input {
    margin-left: 2vw;
    margin-top: 5vh;
    width: 16vw;
    height: 4vh;
    border-radius: 10px;
  }
  .section_4-main-input-text {
    margin-top: 5vh;
  }
  .section_4-footer-text {
    margin-top: 1vh;
    font-size: 0.6rem;
  }
  .section_4-footer {
    display: flex;
    margin-left: 20vw;
    margin-top: 2vh;
  }
  .section_4-footer-bar {
    width: 1vw;
    height: 12vh;
    background-color: rgb(79, 175, 11);
  }
  .section_4-footer-horizontal-bar {
    width: 50vw;
    height: 12vh;
    margin-left: 10vw;
    background-color: rgb(79, 175, 11);
    flex-direction: column;
    display: flex;
  }
  .section_4-footer-bar-text {
    margin-left: 1vw;
  }
  .section_4-footer-bar-text-1 {
    margin-top: 2vh;
    font-size: 0.6rem;
  }
  .section_4-footer-horizontal-bar-input {
    margin-top: 1vh;
    width: 22vw;
    border-radius: 7px;
    margin-left: 2vw;
  }
  /* 5th section */
  .section_5 {
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 140vh;
  }
  .section_5-input {
    border-radius: 8px;
    width: 40vw;
    height: 4vh;
    padding: 1%;
  }
  .section_5-image{
    width: 100%;
    height: 80vh;
  }
  .download-button {
    text-align: center;
    margin-left: 35vw;
    width: 30vw;
    height: 5vh;
    border-radius: 8px;
    background-color: rgb(79, 175, 11);
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .solarpanelImage{
    width: 100%;
    height: 76vh;
  }
}

@media screen and (max-width: 416px){
  .section_4-footer-bar-text-1 {
    margin-top: 2vh;
    font-size: 0.5rem;
  }
}


