

.pdf-section-page-1{
    width: 100vw;
    background-color: rgb(28, 28, 28);
}
.pdf-section-page-1-header-div{
    width: 100vw;
    height: 65vh;
    background-color: rgb(28, 28, 28); 
}

.pdf-section-page-1-main{
    background-color: rgb(79, 175, 11);
    width: 80vw;
    height: 45vh;
    
}
.pdf-section-page-1-footer{
    width: 100vw;
    height: 180vh;
}
.pdf-section-page-1-footer-image{
    width: 100vw;
    height: 130vh;
}


/* page-2 */

.pdf-section-page-2{
    width: 100vw;
    color: white;
    background-color: rgb(28, 28, 28); 
}